*.idea/
*__pycache__/
helpers/__pycache__/
parsing/__pycache__/
build/
src/test_dataset
src/test.py
src/.ipynb_checkpoints
src/test_load.py
src/test_dataset_big
src/test_dataset_small
src/X.pickle
src/X_big.pickle
src/Y.pickle
src/Y_big.pickle
src/netcharges.csv
src/chemistry_data_structure.egg-info
src/hessian_data
src/asdf.py
test.py
src/models
src/optim.pt
src/model_parms_80k.pt
src/model_parms_42k.pt
src/model_parms.pt
src/model.pt
src/mad_list
src/graph_edatas.pickle
src/graph_large_edatas.pickle
src/graph_large_ndatas.pickle
src/graph_ndatas.pickle
src/graphs.pickle
src/graphs_large.pickle
src/learning_curves.png
*pickle
*pdf
src/old_feat.py
src/synclist
src/pre_cull_nbonds
src/atb_parted
src/20k_mean.py
src/debug_gnn.py
src/distributed_training.py
src/draw.py
src/haha.html
src/keyring.deb
src/plot.py
src/fdb
req.txt
